* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  font-size: 1rem;
}

header {
  border: solid 1px #cccc;
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  
  display: flex;                
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;             
}

header h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

nav {
  display: flex;                
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff9800;
}

section {
  padding: 3.75rem 1.25rem; 
  max-width: 56.25rem; 
  margin: auto;
}

section h2 {
  color: #222;
  border-bottom: 0.2rem solid #ff9800;
  display: inline-block;
  margin-bottom: 1.25rem;
  font-size: 1.6rem;
}

#sobre-mi p {
  border-radius: 10px;
  background: #fff;
  border-left: 0.3125rem solid #ff9800;
  margin-bottom: 0.9375rem;
  padding: 0.9375rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 400px;
}

.project {
  border-radius: 10px;
  background: #fff;
  border-left: 0.3125rem solid #ff9800;
  margin-bottom: 0.9375rem;
  padding: 0.9375rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.project h3 {
  margin-bottom: 0.5rem;
  color: #333;
}


#habilidades {
  display: flex;               
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.skill {
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.05);
  min-width: 200px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

input,
textarea {
  padding: 0.625em;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  font-size: 1rem;
  width: 100%;
}

button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.625em 1.25em;
  border-radius: 0.3125rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e68900;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 0.9375rem 0;
  margin-top: 2.5rem;
  font-size: 0.9rem;
}

.arriba {
  background-color: #e68900;
  border: 3px inset #fff;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 5px 10px;

}